.movieRow {
    margin-bottom: 30px;
}

.movieRow h2 {
    margin-left: 30px;
}

.movieRow--listarea {
    overflow-x: hidden;
    padding-left: 30px;
}

.movieRow:hover .movieRow-left,
.movieRow:hover .movieRow-right {
    opacity: 1;
}

.movieRow--item {
    display: inline-block;
    width: 150px;
}

.movieRow--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.15s;
}

.movieRow--item img:hover {
    transform: scale(1);
}

.movieRow--list {
    transition: 0.2s;;
}

.movieRow-left,
.movieRow-right {
    position: absolute;
    width: 40px;
    background: rgba(0, 0, 0, 0.404);
    height: 225px;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    cursor: pointer;
    opacity: 0;
    transition: 0.2s;
}
.movieRow-left {
    left: 0;
}

.movieRow-right {
    right: 0;
}
